/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #eef5fe;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .navbar .navbar-brand-wrapper {
    width: 55px;
  }
  .navbar .navbar-brand-wrapper .brand-logo-mini {
    padding-top: 0px;
  }
}
.sidebar-tinted .navbar .navbar-brand-wrapper {
  background: #fa424a;
}

/* Sidebar */
.sidebar {
  min-height: calc(100vh - 70px);
  background: #191c24;
  font-weight: normal;
  padding: 0;
  width: 244px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}
.sidebar .sidebar-brand-wrapper {
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  background: #191c24;
  width: 244px;
  height: 70px;
}
@media (max-width: 991px) {
  .sidebar .sidebar-brand-wrapper {
    width: 55px;
  }
}
.sidebar .sidebar-brand-wrapper .sidebar-brand {
  color: #38425e;
  font-size: 1.5rem;
  line-height: 48px;
  margin-right: 0;
  padding: 0rem 0rem 0rem 1.3rem;
  width: 100%;
}
.sidebar .sidebar-brand-wrapper .sidebar-brand:active, .sidebar .sidebar-brand-wrapper .sidebar-brand:focus, .sidebar .sidebar-brand-wrapper .sidebar-brand:hover {
  color: #252b3e;
}
.sidebar .sidebar-brand-wrapper .sidebar-brand img {
  width: calc(244px - 120px);
  max-width: 100%;
  height: 28px;
  margin: auto;
  vertical-align: middle;
}
.sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini {
  display: none;
}
.sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini img {
  width: calc(70px - 50px);
  max-width: 100%;
  height: 28px;
  margin: auto;
}
.sidebar .nav {
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 60px;
  padding-top: 70px;
}
@media (max-width: 992px) {
  .sidebar .nav {
    padding-top: 0;
  }
}
.sidebar .nav .nav-item {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
  padding-right: 20px;
}
.sidebar .nav .nav-item .collapse {
  z-index: 999;
}
.sidebar .nav .nav-item .nav-link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.8rem 10px 0.8rem 1.188rem;
  color: #6c7293;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
  height: 46px;
  border-radius: 0px 100px 100px 0px;
}
.sidebar .nav .nav-item .nav-link i {
  color: inherit;
}
.sidebar .nav .nav-item .nav-link i.menu-icon {
  font-size: 1rem;
  line-height: 1;
  margin-left: auto;
  color: rgba(187, 168, 191, 0.9607843137);
}
.rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
  margin-left: 0;
  margin-right: auto;
}
.sidebar .nav .nav-item .nav-link i.menu-icon:before {
  vertical-align: middle;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow {
  font: normal normal normal 24px/1 "Material Design Icons";
  line-height: 1;
  font-size: 1rem;
  margin-left: auto;
  color: rgba(108, 114, 147, 0.36);
}
.rtl .sidebar .nav .nav-item .nav-link i.menu-arrow {
  margin-left: 0;
  margin-right: auto;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
  content: "\f140";
  font-size: inherit;
  color: inherit;
}
.sidebar .nav .nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  font-size: 0.9375rem;
  line-height: 1;
  vertical-align: middle;
}
.sidebar .nav .nav-item .nav-link .badge {
  margin-right: auto;
  margin-left: 1rem;
}
.sidebar .nav .nav-item.active > .nav-link {
  background: #0f1015;
  position: relative;
}
.sidebar .nav .nav-item.active > .nav-link:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #0090e7;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
  color: #ffffff;
}
.sidebar .nav .nav-item.active > .nav-link i {
  color: #ffffff;
}
.sidebar .nav .nav-item.nav-profile .nav-link {
  height: auto;
  line-height: 1;
  border-top: 0;
  padding: 1.25rem 0;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image {
  width: 44px;
  height: 44px;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: 1rem;
}
.rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: auto;
  margin-right: 1rem;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
  font-size: 1.125rem;
  margin-left: auto;
}
.rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
  margin-left: 0;
  margin-right: auto;
}
.sidebar .nav .nav-item.sidebar-actions {
  margin-top: 1rem;
}
.sidebar .nav .nav-item.sidebar-actions .nav-link {
  border-top: 0;
  display: block;
  height: auto;
}
.sidebar .nav .nav-item.sidebar-actions:hover {
  background: initial;
}
.sidebar .nav .nav-item.sidebar-actions:hover .nav-link {
  color: initial;
}
.sidebar .nav .nav-item.profile {
  padding-right: 0px;
}
.rtl .sidebar .nav .nav-item.profile {
  padding-right: 10px;
}
.sidebar .nav .nav-item.profile .profile-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1.17rem;
  line-height: 1.25;
}
.sidebar .nav .nav-item.profile .profile-desc .profile-name {
  margin-left: 1rem;
}
.rtl .sidebar .nav .nav-item.profile .profile-desc .profile-name {
  margin-left: 0;
  margin-right: 1rem;
}
.sidebar .nav .nav-item.profile .profile-desc .profile-name span {
  font-size: 12px;
  color: #6c7293;
  white-space: nowrap;
}
.sidebar .nav .nav-item.profile .profile-desc .profile-name h5, .sidebar .nav .nav-item.profile .profile-desc .profile-name .h5 {
  white-space: nowrap;
}
.sidebar .nav .nav-item.profile .profile-desc .profile-pic {
  display: flex;
  align-items: center;
}
.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator {
  position: relative;
}
.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-symbol,
.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-number {
  position: absolute;
  border-radius: 100%;
  border: 2px solid #191c24;
}
.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-symbol {
  top: 17px;
  right: -3px;
  width: 10px;
  height: 10px;
}
.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-number {
  min-width: 14px;
  height: 14px;
  font-size: 0.5rem;
  color: #ffffff;
  bottom: 16px;
  right: -5px;
  line-height: 1;
  text-align: center;
}
.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator:after {
  display: none;
}
.sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count {
  position: absolute;
  left: 66%;
  width: 10px;
  height: 10px;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.5;
  top: 26px;
  border: 2px solid #2c2e33;
}
.sidebar .nav .nav-item.profile .profile-desc .mdi-dots-vertical {
  font-size: 20px;
  color: #6c7293;
}
.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu {
  padding: 0;
  margin-top: 1.25rem;
}
.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item {
  padding: 11px 13px;
}
.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item {
  align-items: center;
}
.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item .preview-thumbnail .preview-icon {
  width: 30px;
  height: 30px;
}
.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item .preview-thumbnail .preview-icon i {
  font-size: 0.875rem;
}
.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item:hover {
  color: inherit;
}
.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-divider {
  margin: 0;
}
.sidebar .nav .nav-item.nav-category {
  padding: 0.5rem 1.188rem;
  line-height: 1;
}
.sidebar .nav .nav-item.nav-category .nav-link {
  color: #6c7293;
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  height: auto;
  padding-left: 0;
}
.sidebar .nav .nav-item .menu-icon {
  margin-right: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1;
  background: rgba(108, 114, 147, 0.2);
  width: 31px;
  height: 31px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.sidebar .nav .nav-item .menu-icon i {
  font-size: 0.875rem;
}
.sidebar .nav.sub-menu {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 0 0 3.25rem;
  list-style: none;
}
.sidebar .nav.sub-menu .nav-item {
  padding: 0;
}
.sidebar .nav.sub-menu .nav-item .nav-link {
  color: #6c7293;
  padding: 0.5rem 0.35rem;
  position: relative;
  font-size: 0.855rem;
  line-height: 1;
  height: auto;
  border-top: 0;
}
.sidebar .nav.sub-menu .nav-item .nav-link.active {
  color: #ffffff;
  background: transparent;
  font-weight: 900;
}
.sidebar .nav.sub-menu .nav-item .nav-link:hover {
  color: #ffffff;
}
.sidebar .nav.sub-menu .nav-item:hover {
  background: transparent;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.account-dropdown) > .nav-link {
  background: #0f1015;
  color: #ffffff;
}
.sidebar .nav .menu-items:nth-child(5n+1) .nav-link .menu-icon i {
  color: #0090e7;
}
.sidebar .nav .menu-items:nth-child(5n+2) .nav-link .menu-icon i {
  color: #00d25b;
}
.sidebar .nav .menu-items:nth-child(5n+3) .nav-link .menu-icon i {
  color: #8f5fe8;
}
.sidebar .nav .menu-items:nth-child(5n+4) .nav-link .menu-icon i {
  color: #ffab00;
}
.sidebar .nav .menu-items:nth-child(5n+5) .nav-link .menu-icon i {
  color: #fc424a;
}

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -244px;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .sidebar-offcanvas.active {
    right: 0;
  }
}
.sidebar-tinted .sidebar {
  background: #fa424a;
}
.sidebar-tinted .sidebar .sidebar-brand-wrapper {
  background: #fa424a;
}
.sidebar-tinted .sidebar .nav .nav-item .nav-link {
  color: #ffffff;
}
.sidebar-tinted .sidebar .nav .nav-item .nav-link .menu-icon i {
  color: white;
}
.sidebar-tinted .sidebar .nav .nav-item .nav-link i.menu-arrow {
  color: rgba(255, 255, 255, 0.36);
}
.sidebar-tinted .sidebar .nav .nav-item.active > .nav-link {
  background: rgba(12, 14, 14, 0.1);
}
.sidebar-tinted .sidebar .nav .nav-item.active:before {
  background: #ffffff;
}
.sidebar-tinted .sidebar .nav .nav-item.profile .profile-desc .profile-name span {
  color: #ffffff;
}
.sidebar-tinted .sidebar .nav .nav-item.profile .profile-desc .mdi-dots-vertical {
  color: #ffffff;
}
.sidebar-tinted .sidebar .nav .nav-item.profile .profile-pic .count-indicator .count {
  border: 2px solid #fa424a;
}
.sidebar-tinted .sidebar .nav.sub-menu .nav-item .nav-link:hover {
  font-weight: 500;
}
.sidebar-tinted .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.account-dropdown) > .nav-link {
  background: rgba(12, 14, 14, 0.1);
}

/* Layouts */
.navbar.fixed-top + .page-body-wrapper {
  padding-top: 70px;
}

@media (min-width: 992px) {
  .sidebar-mini .navbar {
    left: 185px;
  }
  .sidebar-mini .navbar .navbar-brand-wrapper {
    width: 185px;
  }
  .sidebar-mini .navbar .navbar-menu-wrapper {
    width: 100%;
  }
  .sidebar-mini .sidebar {
    width: 185px;
  }
  .sidebar-mini .sidebar .sidebar-brand-wrapper {
    width: 185px;
  }
  .sidebar-mini .sidebar .nav .nav-item {
    padding: 0;
    margin: 0;
  }
  .sidebar-mini .sidebar .nav .nav-item.menu-items .nav-link .menu-icon {
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-mini .sidebar .nav .nav-item .nav-link {
    text-align: center;
    position: relative;
  }
  .sidebar-mini .sidebar .nav .nav-item .nav-link .menu-title {
    display: inline-block;
  }
  .sidebar-mini .sidebar .nav .nav-item .nav-link .menu-sub-title {
    margin: auto;
  }
  .sidebar-mini .sidebar .nav .nav-item .nav-link .badge {
    margin-left: 5px;
    display: none;
  }
  .sidebar-mini .sidebar .nav .nav-item .nav-link i.menu-icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .sidebar-mini .sidebar .nav .nav-item .nav-link i.menu-arrow {
    display: inline-block;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    right: 10px;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .sidebar-mini .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
    content: "\f140";
  }
  .sidebar-mini .sidebar .nav .nav-item .nav-link[aria-expanded=true] .menu-arrow:before {
    content: "\f143";
  }
  .sidebar-mini .sidebar .nav .nav-item .nav-link .menu-icon {
    margin-right: 1.25rem;
    margin-left: 0;
  }
  .sidebar-mini .sidebar .nav .nav-item.nav-category {
    display: none;
  }
  .sidebar-mini .sidebar .nav .nav-item.profile .profile-desc {
    justify-content: center;
    position: relative;
  }
  .sidebar-mini .sidebar .nav .nav-item.profile .profile-desc .profile-pic {
    flex-direction: column;
  }
  .sidebar-mini .sidebar .nav .nav-item.profile .profile-desc .profile-name {
    margin-left: 0;
  }
  .sidebar-mini .sidebar .nav .nav-item.profile .profile-desc .profile-dropdown {
    position: absolute;
    right: 10px;
  }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item {
    border-bottom: 1px solid rgba(108, 114, 147, 0.2);
  }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item .nav-link {
    display: block;
    height: auto;
    padding: 0.8125rem 1rem 0.8125rem 1rem;
  }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item .nav-link i.menu-icon {
    margin-bottom: 0.5rem;
  }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav.sub-menu {
    padding: 0;
    border-top: none;
  }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav.sub-menu .nav-item .nav-link {
    padding: 1rem 0rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav .nav-item.account-dropdown p {
    margin-left: 0;
  }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav .nav-item.account-dropdown .sub-menu {
    padding: 0 0 1rem 0;
  }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav .nav-item.account-dropdown .sub-menu .nav-item .nav-link {
    display: flex;
    justify-content: flex-start;
    padding: 0.3rem 0;
  }
  .sidebar-mini .page-body-wrapper {
    width: calc(100% - 185px);
  }
}

@media (min-width: 992px) {
  .sidebar-icon-only .navbar {
    left: 70px;
  }
  .sidebar-icon-only .navbar .navbar-menu-wrapper {
    width: 100%;
  }
  .sidebar-icon-only .sidebar {
    width: 70px;
  }
  .sidebar-icon-only .sidebar .sidebar-brand-wrapper {
    width: 70px;
  }
  .sidebar-icon-only .sidebar .sidebar-brand-wrapper .brand-logo {
    display: none;
  }
  .sidebar-icon-only .sidebar .sidebar-brand-wrapper .brand-logo-mini {
    display: inline-block;
  }
  .sidebar-icon-only .sidebar .nav {
    overflow: visible;
  }
  .sidebar-icon-only .sidebar .nav .nav-item {
    position: relative;
    padding: 0;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .profile-name {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .mdi-dots-vertical {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item.account-dropdown {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
    text-align: center;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title,
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link .badge, .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-sub-title {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
    border-radius: 0 5px 5px 0px;
  }
  .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
    border-radius: 5px 0 0 5px;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-icon {
    margin-right: 0;
    margin-left: 0;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-arrow {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .nav-link[aria-expanded] .menu-title {
    border-radius: 0 5px 0 0px;
  }
  .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link[aria-expanded] .menu-title {
    border-radius: 5px 0 0 0;
  }
  .sidebar-icon-only .sidebar .nav .nav-item.nav-profile {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item.nav-category {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item.nav-doc {
    margin: 0;
  }
  .sidebar-icon-only .sidebar .nav .nav-item.nav-doc i {
    display: block;
  }
  .sidebar-icon-only .sidebar .nav .nav-item .collapse {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background: #0f1015;
    padding: 0.5rem 1.4rem;
    left: 70px;
    position: absolute;
    text-align: left;
    top: 0;
    bottom: 0;
    width: 190px;
    z-index: 1;
    line-height: 1.8;
  }
  .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
    background: #0f1015;
  }
  .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
    left: auto;
    right: 70px;
    text-align: left;
  }
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title:after {
    display: none;
  }
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
    display: block;
    padding: 0.5rem 0;
    background: #0f1015;
    border-radius: 0 0 5px 0;
    position: absolute;
    left: 70px;
    width: 190px;
  }
  .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
    background: #191c24;
  }
  .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
    left: auto;
    right: 70px;
    border-radius: 0 0 0 5px;
  }
  .sidebar-icon-only .sidebar .nav.sub-menu {
    padding: 0 0 0 1.5rem;
  }
  .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
    text-align: left;
    padding-left: 20px;
  }
  .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #6c7293;
    position: absolute;
    left: 0;
  }
  .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:hover:before {
    background-color: white;
  }
  .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item {
    margin-left: 0;
  }
  .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
    text-align: right;
  }
  .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
    left: 0;
    right: unset;
  }
  .sidebar-icon-only .sidebar .sidebar-actions {
    display: none;
  }
  .sidebar-icon-only.rtl .sidebar .nav .nav-item.profile {
    padding-right: 0;
  }
  .sidebar-icon-only .page-body-wrapper {
    width: calc(100% - 70px);
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
  }
}

@media (min-width: 992px) {
  .sidebar-hidden .sidebar {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    width: 0;
  }
  .sidebar-hidden .page-body-wrapper {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .sidebar-absolute .page-body-wrapper {
    width: 100%;
    position: relative;
  }
  .sidebar-absolute:not(.sidebar-hidden) .sidebar {
    position: absolute;
    height: 100%;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
  .sidebar-absolute .sidebar {
    transition: none;
  }
}

@media (min-width: 992px) {
  .sidebar-fixed .sidebar {
    position: fixed;
    max-height: auto;
  }
  .sidebar-fixed .sidebar .nav {
    max-height: 100vh;
    overflow: auto;
    position: relative;
  }
  .sidebar-fixed .sidebar .nav.sub-menu {
    max-height: none;
  }
  .sidebar-fixed .page-body-wrapper {
    margin-left: 244px;
  }
  .sidebar-fixed.sidebar-icon-only .page-body-wrapper {
    margin-left: 70px;
  }
}

@media (min-width: 1200px) {
  .boxed-layout .container-scroller {
    background: #737373;
    padding: 0 calc((100% - 1200px) / 2);
  }
  .boxed-layout .navbar {
    right: calc((100% - 1200px) / 2);
    left: calc((100% - 1200px) / 2 + 244px);
  }
  .boxed-layout .navbar.fixed-top {
    margin: auto;
    max-width: 1200px;
  }
  .boxed-layout .sidebar .sidebar-brand-wrapper {
    left: calc((100% - 1200px) / 2);
  }
  .boxed-layout.sidebar-icon-only .navbar {
    left: calc((100% - 1200px) / 2 + 70px);
  }
}

.rtl {
  direction: rtl;
  text-align: right;
}
.rtl .sidebar .sidebar-brand-wrapper .sidebar-brand {
  padding: 0.25rem 1.3rem 0rem 0rem;
}
.rtl .sidebar .nav {
  padding-right: 0;
}
.rtl .sidebar .nav .nav-item.account-dropdown .nav-link p {
  margin-right: 1rem;
}
.rtl .sidebar .nav .nav-item .nav-link .menu-icon {
  margin-right: 0;
  margin-left: 0.5em;
}
.rtl .sidebar .nav.sub-menu {
  padding: 0 1.5rem 0 0;
}
.rtl .product-chart-wrapper::-webkit-scrollbar,
.rtl .settings-panel .tab-content .tab-pane .scroll-wrapper::-webkit-scrollbar,
.rtl .sidebar-fixed .nav::-webkit-scrollbar,
.rtl .table-responsive::-webkit-scrollbar,
.rtl ul.chats::-webkit-scrollbar {
  width: 0.5em;
}
.rtl .product-chart-wrapper::-webkit-scrollbar-track,
.rtl .settings-panel .tab-content .tab-pane .scroll-wrapper::-webkit-scrollbar-track,
.rtl .sidebar-fixed .nav::-webkit-scrollbar-track,
.rtl .table-responsive::-webkit-scrollbar-track,
.rtl ul.chats::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.rtl .product-chart-wrapper::-webkit-scrollbar-thumb,
.rtl .settings-panel .tab-content .tab-pane .scroll-wrapper::-webkit-scrollbar-thumb,
.rtl .sidebar-fixed .nav::-webkit-scrollbar-thumb,
.rtl .table-responsive::-webkit-scrollbar-thumb,
.rtl ul.chats::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
@media (min-width: 992px) {
  .rtl .navbar {
    right: 244px;
    left: 0;
    transition: left 0.25s ease;
    -webkit-transition: right 0.25s ease;
    -moz-transition: right 0.25s ease;
    -ms-transition: right 0.25s ease;
  }
}
.rtl .navbar .navbar-brand-wrapper .navbar-brand {
  padding: 0.25rem 1.3rem 0rem 0rem;
}
.rtl .navbar .navbar-menu-wrapper .navbar-nav {
  padding: 0;
}
.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile .navbar-profile-name {
  margin-right: 1rem;
}
.rtl .dropdown-menu {
  text-align: right;
}
.rtl.sidebar-icon-only .navbar {
  right: 70px;
}
.rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
  padding-right: 20px;
}
.rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
  right: 0;
  left: unset;
}

.sidebar-tinted.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
  background-color: white;
}

/* Navbar */
.navbar {
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
}
#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}
.navbar img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .sidebar.close {
    left: -100%;
  }
  #sidebar-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }
}