:root {
  --primary-color: #ff5722;
  --secondary-color: #e64a19;
  --background-color: #ffffff;
  --text-color: #333;
  --light-text-color: #555;
  --border-color: #ebebeb;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --hover-background-color: #fff7ed;
  --card-background-color: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  overflow-x: hidden;
}

h2 {
  margin-left: 100px;
  margin-right: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-color);
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.search-bar .location-select {
  width: 200px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: var(--light-text-color);
  padding-right: 15px;
  border-right: 2px solid #ccc;
  position: relative;
}

.search-bar .location-select i {
  margin-right: 15px;
  font-size: 16px;
  color: var(--primary-color);
}

.search-bar .location-select select {
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 14px;
  outline: none;
  cursor: pointer;
  appearance: none;
  padding: 0 25px 0 5px;
}

.search-bar .location-select select:focus {
  color: var(--primary-color);
  background-color: var(--hover-background-color);
}

.search-bar .location-select::after {
  content: "\25BC";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: var(--light-text-color);
  pointer-events: none;
}

.search-bar .location-select select option {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
}

.search-bar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 15px;
  box-shadow: 0 2px 5px var(--shadow-color);
  width: 700px;
  max-width: 90%;
  justify-content: flex-start;
}

.logo a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.logo span {
  font-size: 25px;
  font-weight: bold;
  color: var(--text-color);
}

.search-bar .location {
  width: 200px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: var(--light-text-color);
  padding-right: 10px;
  border-right: 2px solid #ccc;
}

.search-bar .location i {
  margin-right: 5px;
  font-size: 16px;
}

.search-bar select {
  flex-grow: 1;
  height: 30px;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 14px;
  margin-right: 10px;
}

.search-bar input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--light-text-color);
  margin-right: 10px;
}

.search-bar button {
  height: 40px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 0 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button:hover {
  background-color: var(--secondary-color);
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-actions .btn {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.user-actions .btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

.user-actions .btn.signup {
  background-color: var(--primary-color);
  color: white;
}

.user-actions .btn.signup:hover {
  background-color: var(--secondary-color);
}

.profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary-color);
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.1);
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
  margin: 0 auto;
  max-width: calc(100% - 200px);
  margin-left: 80px;
  margin-right: 80px;
  margin-top: -20px;
}

.search-results-header {
  margin: 20px 0;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  padding-left: 10px;
}

.search-results {
  margin: 20px 0px;
}

.restaurant-card {
  background-color: var(--card-background-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--shadow-color);
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 5px;
  display: block;
  position: relative;
}

.restaurant-card {
  width: 100%;
  box-sizing: border-box;
}

.restaurant-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--primary-color);
  background-color: var(--hover-background-color);
}

.restaurant-card .image-container {
  width: 100%;
  height: 130px;
  overflow: hidden;
  border-radius: 12px;
}

.restaurant-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.restaurant-card img:hover {
  transform: scale(1.05);
}

.restaurant-card .info {
  margin-top: 10px;
}

.restaurant-card .info .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 10px;
  margin-left: 10px;
}

.restaurant-card .info .restaurant-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.restaurant-card .info .rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.restaurant-card .info .rating .star-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.restaurant-card .info .rating-value {
  font-size: 14px;
  color: var(--text-color);
}

.restaurant-card .info .location,
.restaurant-card .info .price-range {
  font-size: 14px;
  color: var(--light-text-color);
  margin: 5px 0;
  margin-right: 10px;
  margin-left: 10px;
}

.restaurant-card .info .category {
  font-size: 14px;
  color: var(--primary-color);
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: right;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .main-content {
    padding: 20px;
  }

  .restaurant-card {
    padding: 10px;
  }

  .restaurant-card img {
    height: 120px;
  }

  .search-container {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }

  .user-actions {
    justify-content: center;
  }

  .categories-carousel {
    margin: 20px;
  }

  .category-item {
    flex: 0 0 140px;
  }

  .category-image {
    width: 100px;
    height: 100px;
  }
}

.categories-carousel {
  overflow: hidden;
  position: relative;
  height: 150px;
  margin: 10px 100px;
  margin-bottom: -10px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 25px;
}

.carousel-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
  gap: 10px;
  padding: 10px 0;
}

.category-item {
  flex: 0 0 auto;
  width: 110px;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}

.category-link {
  width: 90px;
  height: 90px;
  background-color: var(--background-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 1 4px 8px var(--shadow-color);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 5px;
  display: block;
  position: relative;
  border: 1px solid #cdcdcc;
}

.category-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--primary-color);
  background-color: var(--hover-background-color);
}

.category-image {
  width: 60px;
  height: 60px;
  margin: 0 auto 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.category-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.category-name {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
  display: block;
  margin-top: 5px;
}

.category-link:hover .category-name {
  color: var(--primary-color);
  transition: color 0.1s ease;
}

.category-link:hover .category-image img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
}

.carousel-button:hover {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.carousel-button.prev {
  left: 0;
}

.carousel-button.next {
  right: 0;
}

footer {
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--border-color);
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}